<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<mat-form-field>
  <mat-label>Normal select</mat-label>
  <mat-select>
    <mat-option value="Lorem">Lorem</mat-option>
    <mat-option value="Ipsum">Ipsum</mat-option>
    <mat-option value="Dolor">Dolor</mat-option>
    <mat-option value="Sit">Sit</mat-option>
    <mat-option value="Amet">Amet</mat-option>
  </mat-select>
</mat-form-field>

<br>

<mat-form-field>
  <mat-label>Large select</mat-label>
  <mat-select [appMatOptionHeight]="5">
    <mat-option value="Lorem">Lorem</mat-option>
    <mat-option value="Ipsum">Ipsum</mat-option>
    <mat-option value="Dolor">Dolor</mat-option>
    <mat-option value="Sit">Sit</mat-option>
    <mat-option value="Amet">Amet</mat-option>
  </mat-select>
</mat-form-field>

<br>

<mat-form-field>
  <mat-label>Extra Large select</mat-label>
  <mat-select [appMatOptionHeight]="10">
    <mat-option value="Lorem">Lorem</mat-option>
    <mat-option value="Ipsum">Ipsum</mat-option>
    <mat-option value="Dolor">Dolor</mat-option>
    <mat-option value="Sit">Sit</mat-option>
    <mat-option value="Amet">Amet</mat-option>
  </mat-select>
</mat-form-field>